<header class="header__home">
        <div class="header__home__menu">
            <button class="header__home__menu__button">&#9776;</button>
            <div class="header__home__menu__button__content">
                <a href="/tarefas/criar">Criar tarefa</a>
                <a href="/tarefas/minhasTarefas">Minhas tarefas</a>
                <a href="/logout">Logout</a>
             </div>

            <div class="overlay"></div>
        </div>
</header>