<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Task: listar tarefas</title>
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/header.css" />
        <link rel="stylesheet" href="/styles/listarTarefas.css" />
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <body>

        <!--Importando o header da pasta components.-->
        <%- include('../components/header') %>
        <main class="container">
            <h1>Minhas Tarefas</h1>
            <div class="filtros">
                <input type="text" id="filtro-titulo" placeholder="Buscar por título" />
                
                <select id="filtro-prioridade">
                <option value="">Todas as prioridades</option>
                <option value="Alta">Alta</option>
                <option value="Média">Média</option>
                <option value="Baixa">Baixa</option>
                </select>
                
                <select id="filtro-status">
                <option value="">Todos os status</option>
                <option value="pendente">Pendente</option>
                <option value="em andamento">Em andamento</option>
                <option value="concluída">Concluída</option>
                </select>
                
                <input type="date" id="filtro-deadline" />
                <button id="btn-aplicar-filtros">Filtrar</button>
            </div>
            <div id="listaTarefas" class="lista-tarefas"></div>
        </main>

        <!--Modal para edição de tarefas.-->
        <div id="modal-editar" class="modal hidden">
            <div class="modal-content">
                <button id="fechar-modal" class="fechar-modal">&times;</button> 
                <h2>Editar Tarefa</h2>
                <form id="form-editar">
                <input type="hidden" id="editar-id">
                <label>Título: <input type="text" id="editar-titulo" required></label><br>
                <label>Descrição: <textarea id="editar-descricao" required></textarea></label><br>
                <label>Status: <select id="editar-progresso">
                    <option value="Pendente">Pendente</option>
                    <option value="Em andamento">Em andamento</option>
                    <option value="Concluída">Concluída</option>
                </select></label><br>
                <label>Prioridade: <select id="editar-prioridade">
                    <option value="Alta">Alta</option>
                    <option value="Média">Média</option>
                    <option value="Baixa">Baixa</option>
                </select></label><br>
                <label>Deadline: <input type="date" id="editar-deadline" required></label><br>
                <button type="submit" id = "btn-salvar-edicao">Salvar</button>
                </form>
            </div>
        </div>

        <%- include('../components/footer') %>
        
        <!--Arquivos JavaScript externos que são usados na página.-->
        <script src="/scripts/listarTarefas.js"></script>
        <script src="/scripts/abrirMenuHamburguer.js"></script>
        
        <!-- Biblioteca ScrollReveal para animações -->
      <script src="https://unpkg.com/scrollreveal"></script>
      <script src="/scripts/animacoes.js"></script>
    </body>
</html>
