<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <title>Task: login</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="login__and_sign__up__body">
    <main class="login__and_sign__up__body__main">
      <div class="login__and__sign__up__main__container">

        <form id="login__form" class="login__and__sign__up__main__container__left" method="POST" action="/login">
          <h1 class="login__and__sign__up__main__container__left__title">Login</h1>

          <label for="email" class="labels">Email</label>
          <input type="text" placeholder="Digite seu email aqui" class="inputs" id="email" name="email" required>

          <label for="password" class="labels">Senha</label>
          <div class="password-wrapper">
            <input
              type="password"
              placeholder="Digite sua senha aqui"
              class="inputs"
              id="password"
              required
            >
            <i class="fa-solid fa-eye" id="togglePassword"></i>
          </div>

          <button type="submit" class="login__sign__up__button">Entrar</button>

          <a href="/cadastro" class="go__to__sign__up">Não possui conta? Clique aqui e cadastre-se!</a>
        </form>
      </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src = "/scripts/login.js"></script>
  </body>
</html>
