<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Task: cadastro</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="login__and_sign__up__body">
  <main class="login__and_sign__up__body__main">
    <div class="login__and__sign__up__main__container">

      <form class="login__and__sign__up__main__container__left" id="sign__up__form">
        <h1 class="login__and__sign__up__main__container__left__title">Cadastro</h1>

        <label for="name" class="labels">Nome</label>
        <input type="text" placeholder="Digite seu nome aqui" class="inputs" id="name" required>

        <label for="email" class="labels">Email</label>
        <input type="email" placeholder="Digite seu email aqui" class="inputs" id="email" required>

        <label for="password" class="labels">Senha</label>
        <div class="password-wrapper">
          <input
            type="password"
            placeholder="Digite sua senha aqui"
            class="inputs"
            id="password"
            required
          >
          <i class="fa-solid fa-eye" id="togglePassword"></i>
        </div>


        <button type="submit" class="login__sign__up__button">Cadastrar-se</button>

        <a href="/login" class="go__to__sign__up">Já possui conta? Clique aqui para fazer login!</a>
      </form>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/scripts/cadastro.js"></script>
</body>
</html>
