.footer__landing__page {
    background-color: var(--main-blue);
    height: 6rem;
    max-width: 100vw;
    padding: 0 2rem;
}

.footer__landing__page__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer__landing__page__container__title {
    color: var(--white);
    font-size: 40px;
}
