.header__home{
    height: 5rem;
    background-color: var(--main-blue);
}

.header__home__menu {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.header__home__menu__button {
  font-size: 30px;
  background-color: var(--main-blue);
  color: var(--white);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1100;
  position: fixed;
}

.header__home__menu__button__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: var(--main-blue);
  padding: 20px;
  z-index: 999;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.header__home__menu__button__content.open {
  transform: translateX(0);
}


.header__home__menu__button__content a {
  color: var(--white);
  text-decoration: none;
  margin: 4rem 0 0 0;
}

.header__home__menu__button__content a:hover {
  text-decoration: underline;
}